* {
  padding: 0;
  margin: 0;
}

article {
  border: 4px solid black;
  font-family: sans-serif;
  width: 825px;
  margin: 50px auto;
  position: relative;
}

article::before {
  content: "sale";
  display: block;
  position: absolute;
  top: -10px;
  left: -15px;
  width: fit-content;
  height: fit-content;
  background-color: rgb(255, 30, 0);
  text-transform: uppercase;
  padding: 5px 10px;
  letter-spacing: 2px;
  color: white;
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

h2 {
  background-color: #ddd;
  text-align: center;
  font-weight: bold;
  font-size: large;
  padding: 10px;
}

.price {
  font-weight: bold;
  font-size: x-large;
}

.shipping {
  color: #555;
  font-size: smaller;
  font-weight: bold;
  margin-bottom: 20px;
}

a:link,
a:visited {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  color: black;
  text-decoration: underline;
}

a:hover,
a:active {
  text-decoration: none;
}

h3 {
  font-size: medium;
  font-weight: bold;
  margin-bottom: 15px;
}

button {
  background-color: black;
  color: #fff;
  border: 2px solid black;
  width: 100%;
  padding: 4px;
}

button:hover {
  color: black;
  background-color: white;
  border: 2px solid transparent;
  border-top: 2px solid black;
}

ul {
  margin-bottom: 20px;
}

.color {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
}

.color1 {
  background-color: black;
}

.color2 {
  background-color: blue;
}

.color3 {
  background-color: red;
}

.color4 {
  background-color: yellow;
}

.color5 {
  background-color: greenyellow;
}

.color6 {
  background-color: brown;
}
